<footer class="footer">
  <div class="footer-area">
    <ul class="footer-left">
      <li>Node</li>
      <li>Express</li>
      <li>MySQL</li>
    </ul>
    <ul class="footer-right">
      <li>By <a target="_blank" href="https://zonayed.me">Saransh Jain</a></li>
      <li><a target="_blank" href="https://github.com/saransh247/Phonebook-using-Nodejs.git">Source</a></li>
    </ul>
  </div>
</footer>

</body>
</html>
